.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 33px 96px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario form h2 {
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Prata';
}